<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Dashboard | Ruby on Rails</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Responsive bootstrap 4 admin template" name="description">
        <meta content="Coderthemes" name="author">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <%= stylesheet_link_tag "application" %>
        <%= stylesheet_link_tag "bootstrap.min" %>
        <%= stylesheet_link_tag "icons.min" %>
        <%= stylesheet_link_tag "app.min" %>
        <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" %>
    </head>

    <body class="authentication-bg">
        <div class="account-pages pt-3">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="account-card-box">
                            <div class="card mb-0">
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <div class="my-3">
                                            <a href="index.html">
                                                <span><span><%= image_tag "connectionsInc.png", alt: "", style: "height: 100px" %></span>
                                            </a>
                                        </div>
                                        <h5 class="text-muted text-uppercase py-3 font-16">Sign In</h5>
                                    </div>
                                    <%= form_with url: login_path, method: :post, local: true, data: { turbo: false }, html: { class: "mt-2" } do |form| %>
                                      <div class="form-group mb-3">
                                        <%= form.text_field :email, class: "form-control", required: true, placeholder: "Enter your email" %>
                                      </div>
                                      <div class="form-group mb-3">
                                        <%= form.text_field :password, class: "form-control", required: true, placeholder: "Enter your password" %>
                                      </div>
                                      <div class="form-group mb-3">
                                          <div class="custom-control custom-checkbox">
                                              <input type="checkbox" class="custom-control-input" id="checkbox-signin" checked="">
                                              <label class="custom-control-label" for="checkbox-signin">Remember me</label>
                                          </div>
                                      </div>
                                      <div class="form-group text-center">
                                          <button class="btn btn-success btn-block waves-effect waves-light" type="submit"> Log In </button>
                                      </div>
                                      <%= link_to new_password_reset_path, class: "text-muted" do %>
                                        <i class="mdi mdi-lock mr-1"></i> Forgot your password?
                                      <% end %>
                                    <% end %>
                                    <div class="text-center mt-4">
                                        <h5 class="text-muted py-2"><b>Sign in with</b></h5>
                                        <div class="row">
                                            <div class="col-12">
                                                <button type="button" class="btn btn-facebook waves-effect font-14 waves-light mt-3">
                                                    <i class="fab fa-facebook-f mr-1"></i> Facebook
                                                </button>
                                                <button type="button" class="btn btn-twitter waves-effect font-14 waves-light mt-3">
                                                    <i class="fab fa-twitter mr-1"></i> Twitter
                                                </button>
                                                <button type="button" class="btn btn-googleplus waves-effect font-14 waves-light mt-3">
                                                    <i class="fab fa-google-plus-g mr-1"></i> Google+
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-12 text-center">
                                <p class="text-white-50">
                                  Don't have an account?
                                  <%= link_to content_tag(:b, "Sign Up"), register_path, class: "text-white ml-1" %>
                                </p>
                            </div>
                        </div>
                </div>
            </div>
        </div>

        <%= javascript_include_tag "vendor.min" %>
        <%= javascript_include_tag "app.min" %>

    </body>
</html>