  <div class="content-page" style="margin-left: 0;">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <% if current_admin_user %>
                    <p class="mb-3">This page contains information about all orders!</p>
                <% else %>
                    <p>
                      <%= link_to "Login", login_path %> or
                      <%= link_to "Register", register_path %>
                    </p>
                <% end %>
            </div>
            <div class="row">
                <h4 class="header-title mb-3">Detailed information</h4>
                <div class="table-responsive">
                    <table class="table table-bordered table-nowrap mb-0">
                        <thead>
                            <tr>
                              <th>ID</th>
                              <th>Order code</th>
                              <th>Customer name</th>
                              <th>Customer phone</th>
                              <th>Customer address</th>
                              <th>Total amount</th>
                              <th>Status</th>
                              <th>Delivery person</th>
                              <th>Order creation time</th>
                              <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @orders.each do |o| %>
                              <tr>
                                <td><%= o.id %></td>
                                <td><%= o.code %></td>
                                <td><%= o.customer_name %></td>
                                <td><%= o.customer_phone %></td>
                                <td><%= o.customer_address %></td>
                                <td>
                                    <%= number_to_currency(o.total_amount,
                                          unit: "",
                                          precision: 0,
                                          delimiter: ".") %> (VND)
                                </td>
                                <td><%= o.status %></td>
                                <td>
                                  <% if o.pending? || o.assigned? %>
                                    <%= form_with url: assign_admin_order_path(o), method: :patch, local: true, class: "form-inline" do |f| %>
                                      <div style="display:flex;">
                                        <%= select_tag :shipper_id,
                                              options_for_select(
                                                AdminUser.where(role: 0).map { |u| ["#{u.username} (#{u.id.to_s.rjust(4, '0')})", u.id] },
                                                o.assigned_to
                                              ),
                                              class: "form-control form-control-sm" %>
                                      </div>
                                    <% end %>
                                  <% end %>
                                </td>
                                <td><%= o.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
                                <td>

                                </td>
                              </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
  </div>
