<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= javascript_importmap_tags %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <%= stylesheet_link_tag "flash", "data-turbo-track": "reload" %>

  </head>

  <body>
    <% if flash[:notice] %>
      <div id="flash-message" class="flash-notice">
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:alert] %>
      <div id="flash-message" class="flash-alert">
        <%= flash[:alert] %>
      </div>
    <% end %>
    <% excluded_paths = [login_path, register_path, new_password_reset_path] %>
    <%= link_to "← Quay lại", request.referer || root_path, class: "btn btn-sm btn-light" unless excluded_paths.include?(request.path) %>
    <%= yield %>
  </body>
</html>
